<!DOCTYPE html>
<html lang="en">
<head>
    {{#if user}}
    {{>userHeader}}
    {{/if}}


    {{#if auth}}
    {{>signInLinks}}
    {{/if}}

     
     {{#if otp}}
    {{>otpLinks}}
    {{/if}}

    {{#if admindash}}
    {{>admindashLinks}}
    {{/if}}
    {{#if aspv}}
    {{>adminSingleProductViewLink}}
    {{/if}}
    
    {{#if ajax}}
    {{>ajaxLink}}
    {{/if}}
   

</body>
</head>
<body>
    {{#if aspv}}
    {{>adminSingProductScript}}
    {{/if}}

    {{#if user}}
    {{>userNavbar}}
    {{/if}}
 
     
 
    {{{body}}}

    {{#if user}}
    {{>userScripts}}
    {{/if}}


    {{#if otp}}
    {{>otpScript}}
    {{/if}}

    {{#if admindash}}
    {{>admindashScripts}}
    {{/if}}

 

</body>
</html>
